@import "tailwindcss";
@import "primeicons/primeicons.css";

@import "@fontsource/figtree/400.css";
@import "@fontsource/figtree/500.css";
@import "@fontsource/figtree/600.css";

html {
  font-family: "Figtree", sans-serif;
}

h1 {
  font-size: xx-large;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: x-large;
  margin-bottom: 0.5rem;
}